
body {
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  height: 600px;
}

#pump {
  width: 480px;
  height: 640px;
  /*https://www.flickr.com/photos/30845644@N04/12013595335*/
  background-image: url("img/diesel_zapfsaeule.jpg");
  background-repeat: no-repeat;
}

#counter {
  width: 480px;
  height: 640px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile {
  display: flex;
  flex: 1;
  height: 300px;
  margin: 10px;
  justify-content: center;
}

.digit-container {
  width: 300px;
}

.digit, .comma {
  background-color: white;
  border: 1px solid black;
  padding: 5px;

  font-family: Courier New, Courier, monospace;
  font-size: 3em;
}

.digit.large {
  font-size: 15em;
}

.white {
  background-color: white;
  color: black;
}

.red {
  background-color: rgb(123, 22, 22);
  color: white;
}